<div class="w-1/5 pt-16 h-full hidden xl:flex flex-col fixed top-0 left-0 overflow-y-auto">
  <ul class="px-2 py-3">
    <li>
      <a href="#" class="flex items-center space-x-2 p-2 text-sm hover:bg-gray-200 rounded-lg transition-all
      dark:text-white dark:hover:bg-dark-third">
        <img src="./assets/images/user_profile.jpg" alt="Profile Picture" class="w-8 h-8 rounded-full">
        <span>Văn Nguyễn</span>
      </a>
    </li>
    <li>
      <a href="#" class="flex items-center space-x-2 p-2 text-sm hover:bg-gray-200 rounded-lg transition-all
      dark:text-white dark:hover:bg-dark-third">
        <img class="w-8 h-8" src="https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/0gH3vbvr8Ee.png" alt="Pages">
        <span>Pages</span>
      </a>
    </li>
    <li>
      <a href="#" class="flex items-center space-x-2 p-2 text-sm hover:bg-gray-200 rounded-lg transition-all
      dark:text-white dark:hover:bg-dark-third">
        <img class="w-8 h-8" src="https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/tSXYIzZlfrS.png" alt="Friends">
        <span>Friends</span>
      </a>
    </li>
    <li>
      <a href="#" class="flex items-center space-x-2 p-2 text-sm hover:bg-gray-200 rounded-lg transition-all
      dark:text-white dark:hover:bg-dark-third">
        <img class="w-8 h-8" src="https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/Im_0d7HFH4n.png" alt="Groups">
        <span>Groups</span>
      </a>
    </li>
    <li>
      <a href="#" class="flex items-center space-x-2 p-2 text-sm hover:bg-gray-200 rounded-lg transition-all
      dark:text-white dark:hover:bg-dark-third">
        <img class="w-8 h-8" src="https://static.xx.fbcdn.net/rsrc.php/v3/y4/r/MN44Sm-CTHN.png" alt="Marketplace">
        <span>Marketplace</span>
      </a>
    </li>
    <li>
      <a href="#" class="flex items-start space-x-2 p-2 text-sm hover:bg-gray-200 rounded-lg transition-all
      dark:text-white dark:hover:bg-dark-third">
        <img class="w-8 h-8" src="https://static.xx.fbcdn.net/rsrc.php/v3/y-/r/FhOLTyUFKwf.png" alt="Watch">
        <div class="flex flex-col">
          <span>Watch</span>
          <div class="flex items-center">
            <div class="w-2 h-2 mr-1 rounded-full bg-blue-500"></div>
            <span class="text-xs text-blue-500">  9+ new videos</span>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="flex items-center space-x-2 p-2 text-sm hover:bg-gray-200 rounded-lg transition-all
      dark:text-white dark:hover:bg-dark-third">
        <img class="w-8 h-8" src="https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/N7UOh8REweU.png" alt="Events">
        <span>Events</span>
      </a>
    </li>
    <li>
      <a href="#" class="flex items-center space-x-2 p-2 text-sm hover:bg-gray-200 rounded-lg transition-all
      dark:text-white dark:hover:bg-dark-third">
        <img class="w-8 h-8" src="https://static.xx.fbcdn.net/rsrc.php/v3/y-/r/Uy-TOlM5VXG.png" alt="Memories">
        <span>Memories</span>
      </a>
    </li>
    <li>
      <a href="#" class="flex items-center space-x-2 p-2 text-sm hover:bg-gray-200 rounded-lg transition-all
      dark:text-white dark:hover:bg-dark-third">
        <img class="w-8 h-8" src="https://static.xx.fbcdn.net/rsrc.php/v3/yA/r/KlDlsO3UxDM.png" alt="Saved">
        <span>Saved</span>
      </a>
    </li>
    <li>
      <a href="#" class="flex items-center space-x-2 p-2 text-sm hover:bg-gray-200 rounded-lg transition-all
      dark:text-white dark:hover:bg-dark-third">
        <div class="grid place-items-center bg-gray-300 dark:bg-dark-sixth mr-0.5 rounded-full p-2">
          <i class='bx bx-chevron-down font-semibold'></i>
        </div>
        <span>See More</span>
      </a>
    </li>
    <li class="border-b-1 border-gray-200 dark:border-dark-third mt-6"></li>
  </ul>
  <div class="group">
    <div class="flex justify-between items-center pl-4 pr-2 h-4">
      <span class="font-semibold text-lg text-gray-400">Your Shortcuts</span>
      <span class="hidden group-hover:inline-block text-sm text-blue-500 px-1.5 py-1.5 rounded-md
      hover:bg-gray-200 dark:hover:bg-dark-third cursor-pointer">Edit</span>
    </div>
    <ul class="px-2 py-3">
      <li>
        <a href="#" class="flex items-center space-x-2 p-2 text-sm hover:bg-gray-200 rounded-lg transition-all
        dark:text-white dark:hover:bg-dark-third">
          <img src="./assets/images/angular_logo.png" alt="Group Angular VietNam" class="w-8 h-8 rounded-md">
          <span>Cộng đồng Angular Việt Nam</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex items-center space-x-2 p-2 text-sm hover:bg-gray-200 rounded-lg transition-all
        dark:text-white dark:hover:bg-dark-third">
          <div class="grid place-items-center bg-gray-300 dark:bg-dark-sixth mr-0.5 rounded-full p-2">
            <i class='bx bx-chevron-down font-semibold'></i>
          </div>
          <span>See More</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="mt-auto px-4 py-1 text-xs text-gray-500 dark:text-dark-txt">
    <a href="#">Privacy</a>
    <span> · </span>
    <a href="#">Term</a>
    <span> · </span>
    <a href="#">Advertising</a>
    <span> · </span>
    <a href="#">Ad Choices</a>
    <span> · </span>
    <a href="#">Cookies</a>
    <span> · </span>
    <a href="#">More</a>
    <span> · </span>
    <a href="#">Facebook © 2021</a>
  </div>
</div>
