<div class="w-1/5 pt-16 h-full hidden xl:block pl-4 pr-2 fixed top-0 right-0 overflow-y-auto">
  <!-- Sponsored section -->
  <div class="pt-4">
    <p class="ml-2 font-semibold text-lg text-gray-400">Sponsored</p>
    <a href="#" class="group relative my-2 p-2 flex items-center hover:bg-gray-200 dark:hover:bg-dark-third rounded-lg">
      <img src="./assets/images/ad_amazon.jpg" alt="Ads Amazon" class="w-24 h-13 rounded-md">
      <div class="flex flex-col ml-2 dark:text-dark-txt">
        <span class="font-medium text-sm">Amazon Web Services</span>
        <span class="text-xs">aws.amazon.com</span>
      </div>
      <span class="absolute top-1 right-2 p-1 w-7 h-7 items-center justify-center rounded-full hidden group-hover:flex bg-gray-200 dark:bg-dark-sixth
       dark:text-dark-txt shadow hover:bg-gray-300 dark:hover:bg-dark-fourth">
        <i class='bx bx-dots-horizontal-rounded'></i>
      </span>
    </a>
    <a href="#" class="group relative my-2 p-2 flex items-center hover:bg-gray-200 dark:hover:bg-dark-third rounded-lg">
      <img src="./assets/images/ad_tiki.jpg" alt="Ads Amazon" class="w-24 h-24 rounded-md">
      <div class="flex flex-col ml-2 dark:text-dark-txt">
        <span class="font-medium text-sm">Tiki</span>
        <span class="text-xs">tiki.vn</span>
      </div>
      <span class="absolute top-1 right-2 p-1 w-7 h-7 items-center justify-center rounded-full hidden group-hover:flex bg-gray-200 dark:bg-dark-sixth
       dark:text-dark-txt shadow hover:bg-gray-300 dark:hover:bg-dark-fourth">
        <i class='bx bx-dots-horizontal-rounded'></i>
      </span>
    </a>
  </div>
  <!-- End Sponsored section -->
  <div class="ml-2 border-b-1 border-gray-200 dark:border-dark-third my-1"></div>

  <!-- Your Pages section -->
  <div class="ml-2 py-1 flex items-center justify-between">
    <span class="font-semibold text-lg text-gray-400">Your Pages</span>
    <span class="p-1 w-7 h-7 items-center justify-center rounded-full flex dark:text-dark-txt
    hover:shadow hover:bg-gray-300 dark:hover:bg-dark-third cursor-pointer">
      <i class='bx bx-dots-horizontal-rounded'></i>
    </span>
  </div>
  <!-- End Your Pages section -->
  <div class="ml-2 border-b-1 border-gray-200 dark:border-dark-third my-1"></div>

  <!-- Contacts section -->
  <div class="ml-2 py-1 flex items-center justify-between">
    <span class="font-semibold text-lg text-gray-400">Contacts</span>
    <div class="flex items-center">
      <span class="p-1 w-7 h-7 items-center justify-center rounded-full flex dark:text-dark-txt
      hover:shadow hover:bg-gray-300 dark:hover:bg-dark-third cursor-pointer">
        <i class='bx bxs-message-add'></i>
      </span>
      <span class="p-1 w-7 h-7 items-center justify-center rounded-full flex dark:text-dark-txt
      hover:shadow hover:bg-gray-300 dark:hover:bg-dark-third cursor-pointer">
        <i class='bx bx-search'></i>
      </span>
      <span class="p-1 w-7 h-7 items-center justify-center rounded-full flex dark:text-dark-txt
      hover:shadow hover:bg-gray-300 dark:hover:bg-dark-third cursor-pointer">
        <i class='bx bx-dots-horizontal-rounded'></i>
      </span>
    </div>
  </div>
  <ul>
    <li>
      <a href="#" class="flex items-center space-x-3 p-2 text-sm hover:bg-gray-200 rounded-lg transition-all
      dark:text-white dark:hover:bg-dark-third">
        <div class="relative">
          <img src="./assets/images/man_avatar.jpg" alt="Profile Picture" class="w-8 h-8 object-cover rounded-full">
          <span class="absolute bottom-0 -right-0.5 w-3 h-3 rounded-full bg-green-600 border-3 border-gray-100 dark:border-dark-main"></span>
        </div>
        <span class="font-semibold">Alex Dang</span>
      </a>
    </li>
    <li>
      <a href="#" class="flex items-center space-x-3 p-2 text-sm hover:bg-gray-200 rounded-lg transition-all
      dark:text-white dark:hover:bg-dark-third">
        <div class="relative">
          <img src="./assets/images/man1_avatar.jpg" alt="Profile Picture" class="w-8 h-8 object-cover rounded-full">
          <span class="absolute bottom-0 -right-0.5 w-3 h-3 rounded-full bg-green-600 border-3 border-gray-100 dark:border-dark-main"></span>
        </div>
        <span class="font-semibold">Adam Lu</span>
      </a>
    </li>
    <li>
      <a href="#" class="flex items-center space-x-3 p-2 text-sm hover:bg-gray-200 rounded-lg transition-all
      dark:text-white dark:hover:bg-dark-third">
        <div class="relative">
          <img src="./assets/images/girl3_avatar.jpg" alt="Profile Picture" class="w-8 h-8 object-cover rounded-full">
          <span class="absolute bottom-0 -right-0.5 w-3 h-3 rounded-full bg-green-600 border-3 border-gray-100 dark:border-dark-main"></span>
        </div>
        <span class="font-semibold">Riley Dung</span>
      </a>
    </li>
    <li>
      <a href="#" class="flex items-center space-x-3 p-2 text-sm hover:bg-gray-200 rounded-lg transition-all
      dark:text-white dark:hover:bg-dark-third">
        <div class="relative">
          <img src="./assets/images/man_avatar.jpg" alt="Profile Picture" class="w-8 h-8 object-cover rounded-full">
          <span class="absolute bottom-0 -right-0.5 w-3 h-3 rounded-full bg-green-600 border-3 border-gray-100 dark:border-dark-main"></span>
        </div>
        <span class="font-semibold">David Tail</span>
      </a>
    </li>
    <li>
      <a href="#" class="flex items-center space-x-3 p-2 text-sm hover:bg-gray-200 rounded-lg transition-all
      dark:text-white dark:hover:bg-dark-third">
        <div class="relative">
          <img src="./assets/images/girl1_avatar.jpg" alt="Profile Picture" class="w-8 h-8 object-cover rounded-full">
          <span class="absolute bottom-0 -right-0.5 w-3 h-3 rounded-full bg-green-600 border-3 border-gray-100 dark:border-dark-main"></span>
        </div>
        <span class="font-semibold">Jake Xinh Xan</span>
      </a>
    </li>
    <li>
      <a href="#" class="flex items-center space-x-3 p-2 text-sm hover:bg-gray-200 rounded-lg transition-all
      dark:text-white dark:hover:bg-dark-third">
        <div class="relative">
          <img src="./assets/images/man_avatar.jpg" alt="Profile Picture" class="w-8 h-8 object-cover rounded-full">
          <span class="absolute bottom-0 -right-0.5 w-3 h-3 rounded-full bg-green-600 border-3 border-gray-100 dark:border-dark-main"></span>
        </div>
        <span class="font-semibold">Stanley Ham Choi</span>
      </a>
    </li>
    <li>
      <a href="#" class="flex items-center space-x-3 p-2 text-sm hover:bg-gray-200 rounded-lg transition-all
      dark:text-white dark:hover:bg-dark-third">
        <div class="relative">
          <img src="./assets/images/girl2_avatar.jpg" alt="Profile Picture" class="w-8 h-8 object-cover rounded-full">
          <span class="absolute bottom-0 -right-0.5 w-3 h-3 rounded-full bg-green-600 border-3 border-gray-100 dark:border-dark-main"></span>
        </div>
        <span class="font-semibold">Dexter Ho</span>
      </a>
    </li>
  </ul>
  <!-- End Contacts section -->
  <div class="ml-2 border-b-1 border-gray-200 dark:border-dark-third my-3"></div>
  <p class="ml-2 font-semibold text-lg text-gray-400">Group Conversations</p>
  <a href="#" class="mt-2 flex items-center space-x-2 p-2 text-sm hover:bg-gray-200 rounded-lg transition-all
  dark:text-white dark:hover:bg-dark-third">
    <div class="grid place-items-center bg-gray-300 dark:bg-dark-sixth mr-0.5 rounded-full p-2">
      <i class='bx bx-plus font-semibold'></i>
    </div>
    <span class="font-semibold">Create New Group</span>
  </a>
</div>
